In [1]:
import pandas as pd

In [2]:
pd?

In [4]:
serie = pd.Series([1,2,3,4,5,6])
serie

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
#Costumizando o índice
serie2 = pd.Series([1,2,3,4,5,6], index = ["I","II","III","IV","V","VI"])
serie2

I      1
II     2
III    3
IV     4
V      5
VI     6
dtype: int64

In [12]:
serie2["III"]

3

In [14]:
serie2[serie2>=3]

III    3
IV     4
V      5
VI     6
dtype: int64

In [22]:
#É possível converter diferentes objetos em uma serie utilizando o método pd.Series

dic = { "AS": "Brasil", "AC" : "Guatemala" , "AN" : "EUA", "EU" : "Alemanha"}

dicSerie = pd.Series(dic)
dicSerie

AS       Brasil
AC    Guatemala
AN          EUA
EU     Alemanha
dtype: object

In [18]:
dicSerie["EU"]

'Alemanha'

In [23]:
dicSerie["AN"] = "Canada"
dicSerie

AS       Brasil
AC    Guatemala
AN       Canada
EU     Alemanha
dtype: object

In [24]:
import numpy as np

In [27]:
df = pd.DataFrame((np.random.rand(5,2)*100), columns = ["Rand1", "Rand2"], index = ["I","II","III","IV","V"])
df

         Rand1      Rand2
I    55.543369  87.690176
II    1.707158  51.823385
III  56.836199  92.024781
IV   62.485591  68.727943
V    39.178627  75.151063

In [31]:
df2 = pd.DataFrame(dicSerie, columns = ["País"])
df2

         País
AS     Brasil
AC  Guatemala
AN     Canada
EU   Alemanha

In [33]:
df2.index

Index(['AS', 'AC', 'AN', 'EU'], dtype='object')

In [34]:
df.columns

Index(['Rand1', 'Rand2'], dtype='object')

In [39]:
#Indexeradores: Loc e iloc
#Vamos supor que você queira selecionar a primeira linha do dataframe abaixo

df3 = pd.DataFrame((np.random.rand(5,2)*100), columns = ["Rand1", "Rand2"])

#Você vai conseguir assim, é o resultado retornado é um dataframe
df3[0:1]

       Rand1     Rand2
0  39.653145  55.51709

In [ ]:
#Mas não consegue assim
df3[0]

In [41]:
# Por isso usa-se o Loc - que vai te retornar os registros como um objeto pandaSeries
df3.loc[0]

Rand1    39.653145
Rand2    55.517090
Name: 0, dtype: float64

In [42]:
type(df3.loc[0])

pandas.core.series.Series

In [43]:
df

         Rand1      Rand2
I    55.543369  87.690176
II    1.707158  51.823385
III  56.836199  92.024781
IV   62.485591  68.727943
V    39.178627  75.151063

In [49]:
#df.loc[0] - Não funciona pois não reconhece o índice
df.iloc[0]

Rand1    55.543369
Rand2    87.690176
Name: I, dtype: float64

In [51]:
#df.iloc["I"] - Não funciona pois iloc só reconhece inteiros
df.loc["I"]

Rand1    55.543369
Rand2    87.690176
Name: I, dtype: float64

In [54]:
import os

os.chdir("C:\\Users\\dalto\\OpM na Prática\\Python\\Base de Dados")
os.getcwd()

'C:\\Users\\dalto\\OpM na Prática\\Python\\Base de Dados'

In [56]:
fbok = pd.read_csv("dataset_Facebook.csv", sep = ";")

In [57]:
fbok.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [59]:
fbok[0:3]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80

In [61]:
fbok["Type"][0:10]

0     Photo
1    Status
2     Photo
3     Photo
4     Photo
5    Status
6     Photo
7     Photo
8    Status
9     Photo
Name: Type, dtype: object

In [64]:
#Todos os posts que tem entre 5 e 10 comentários
comments_5_10 = fbok[(fbok["comment"] >=5) & (fbok["comment"]<=10)]
comments_5_10

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
26,138458,Status,2,12,5,11,0.0,19552,34143,2806,2531,3420,17748,9824,1779,10,412.0,72.0,494
35,138895,Photo,2,12,1,11,0.0,4512,7808,423,284,431,5183,2954,316,6,172.0,21.0,199
40,138895,Status,2,12,6,11,0.0,13280,24198,2055,1912,2720,17627,9344,1716,7,216.0,39.0,262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
479,86909,Photo,3,1,5,4,0.0,6056,10325,1117,1078,1427,6823,3788,487,7,84.0,36.0,127
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [65]:
#criando uma nova coluna
#Vamos criar uma nova variável chamada engagement

fbok["Engagement"] = fbok["Total Interactions"]/fbok["Lifetime Engaged Users"]

In [66]:
fbok.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions', 'Engagement'],
      dtype='object')

In [67]:
fbok["Engagement"][:10]

0    0.561798
1    0.112560
2    0.451977
3    0.803709
4    0.585693
5    0.156171
6    0.580042
7    0.631285
8    0.125490
9    0.507143
Name: Engagement, dtype: float64

In [68]:
type(fbok["Engagement"][:10])

pandas.core.series.Series