In [1]:
import pandas as pd
import os

In [2]:
os.chdir("C:\\Users\\dalto\\OpM na Prática\\Python\\Base de Dados")

In [22]:
fbok = pd.read_csv("dataset_Facebook.csv", sep=';')
fbok

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [6]:
fbok.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [8]:
for com in fbok["comment"]:
    print(com)

4
5
0
58
19
1
3
0
0
3
0
0
0
5
2
4
2
15
4
0
3
0
0
0
3
0
10
0
36
18
33
1
2
4
2
6
0
16
11
1
7
6
7
7
0
4
4
6
0
1
1
24
9
4
4
2
2
0
3
4
8
8
10
4
2
19
0
20
0
7
7
17
3
14
2
20
0
4
0
2
2
18
5
2
2
10
2
3
3
2
13
0
9
2
2
5
3
1
7
12
0
26
2
0
4
42
9
17
7
4
2
0
4
2
0
0
1
0
0
0
0
6
1
1
0
0
3
0
0
0
0
0
1
0
2
0
0
4
0
4
15
2
60
10
3
6
0
0
3
0
24
2
47
7
13
0
16
1
30
1
6
6
22
4
0
0
2
8
144
6
3
2
38
6
5
2
29
2
7
4
20
4
1
6
11
0
5
0
1
3
2
9
0
3
6
9
2
1
0
33
2
0
2
4
2
0
4
5
1
2
6
2
3
1
4
2
2
41
3
16
2
6
1
18
2
9
3
6
64
9
2
0
6
1
1
3
12
4
2
10
6
4
9
18
372
4
0
0
1
1
4
6
6
11
10
30
2
4
10
9
0
13
2
0
7
3
2
13
26
2
6
7
22
1
18
36
0
23
11
7
1
1
0
1
11
4
0
14
103
5
0
5
0
1
0
5
5
0
0
0
11
1
9
4
0
2
12
4
3
8
0
2
2
3
0
9
0
2
2
18
0
2
2
20
2
2
1
3
16
7
20
1
0
0
2
1
2
4
25
25
6
2
5
6
3
3
37
1
12
45
3
4
6
4
2
12
3
2
1
25
3
0
1
1
9
1
4
12
4
2
45
17
7
2
0
0
0
8
2
51
8
11
1
2
3
5
0
0
0
4
0
6
1
1
3
1
1
5
1
9
5
9
4
1
1
1
2
2
1
4
7
1
1
2
3
7
3
0
1
0
0
0
0
8
0
2
0
4
0
0
0
0
0
12
1
11
16
0
2
1
1
0
10
1
0
1
10
6
2
6
3
0
4
3
14
5
1
6
5
2
146
5
19
8
9
4
3
1
5
10
4
7
0
4
0
0
7
1
1
7
56
0
3
2
2
0
2
1
21
1
1
1
0
17
10
5
0
4
7
0

In [13]:
fb_subset = fbok[["Lifetime People who have liked your Page and engaged with your post","Paid","Post Weekday"]]
fb_subset.head()

,Lifetime People who have liked your Page and engaged with your post,Paid,Post Weekday
0,119,0.0,4
1,1108,0.0,3
2,132,0.0,3
3,1386,1.0,2
4,396,0.0,2

In [14]:
print(fb_subset["Lifetime People who have liked your Page and engaged with your post"].sum())
print(fb_subset["Lifetime People who have liked your Page and engaged with your post"].mean())
print(fb_subset["Lifetime People who have liked your Page and engaged with your post"].median())
print(fb_subset["Lifetime People who have liked your Page and engaged with your post"].max())
print(fb_subset["Lifetime People who have liked your Page and engaged with your post"].min())

304993
609.986
412.0
4376
9

In [18]:
fb_subset.groupby(["Post Weekday"]).sum()

,Lifetime People who have liked your Page and engaged with your post,Paid
Post Weekday,,
1,41280,12.0
2,34237,19.0
3,48117,18.0
4,41696,32.0
5,42019,21.0
6,48061,20.0
7,49583,17.0

In [19]:
fb_subset.groupby(["Post Weekday"]).mean()

,Lifetime People who have liked your Page and engaged with your post,Paid
Post Weekday,,
1,607.058824,0.176471
2,518.742424,0.287879
3,751.828125,0.281250
4,579.111111,0.450704
5,627.149254,0.313433
6,593.345679,0.246914
7,604.670732,0.207317

In [21]:
fbok.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [23]:
fbok.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [24]:
#criando variável auxiliar para eliminar valores nulos
manter = pd.notnull(fbok["share"])

In [25]:
#filtrando base original
fbok2 = fbok[manter]

In [26]:
fbok2.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [27]:
fbok2.shape

(496, 19)

In [29]:
#você pode realizar a mesma ação com o dropna()

fbok3 = fbok.dropna()
fbok3.shape

(495, 19)

In [31]:
#fbok4 = fbok.dropna(axis=0); axis 0 é o default da função
#Caso queira eliminar as colunas ao invés das linas pode-se utilizar axis=1

fbok4 = fbok.dropna(axis=1)
fbok4.shape

(500, 16)

In [34]:
#Geralmente as informações nulas são substituidas

#Preenchendo com zeros
fbok.fillna(0)

#Preenchendo com o valor anterior
fbok.fillna(method='pad')

#Ou o valor posterior
fbok.fillna(method='bfill')

#Últimos dois métodos são raramente utilizados

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [35]:
fbok["share"].fillna(-99, inplace = True)

In [37]:
#Um método mais sofisticado é estimando uma regressão dos adados existentes para estimar os faltantes

fbok5 = fbok.interpolate(methos = 'linear', limit_direction='forward')

#Este é um dos métodos masi utilizados para o tratamento de missing values
fbok5.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64