In [12]:
import sqlite3
import pandas as pd
from sqlite3 import Error

In [13]:
def conexao(db):
    global conex
    try:
        conex = sqlite3.connect(db)
        print("Conexão realizada")
    except Error as e:
        print(e)

In [14]:
conexao(r"C:\Users\dalto\Desktop\DataScience\chinook.db")

Conexão realizada

In [15]:
conex

In [16]:
ponteiro = conex.cursor()

ponteiro.execute("SELECT * FROM playlists")

registros = ponteiro.fetchall()

for registro in registros:
    print(registro)

(1, 'Music')
(2, 'Movies')
(3, 'TV Shows')
(4, 'Audiobooks')
(5, '90’s Music')
(6, 'Audiobooks')
(7, 'Movies')
(8, 'Music')
(9, 'Music Videos')
(10, 'TV Shows')
(11, 'Brazilian Music')
(12, 'Classical')
(13, 'Classical 101 - Deep Cuts')
(14, 'Classical 101 - Next Steps')
(15, 'Classical 101 - The Basics')
(16, 'Grunge')
(17, 'Heavy Metal Classic')
(18, 'On-The-Go 1')

In [17]:
type(registros)

list

In [18]:
playlists = pd.DataFrame(registros, columns=["PlaylistId", "Name"])
playlists.head()

   PlaylistId        Name
0           1       Music
1           2      Movies
2           3    TV Shows
3           4  Audiobooks
4           5  90’s Music

In [25]:
ponteiro = conex.cursor()

ponteiro.execute("SELECT DISTINCT city FROM customers ORDER BY country")

registros = ponteiro.fetchall()

for registro in registros:
    print(registro)

('Buenos Aires',)
('Sidney',)
('Vienne',)
('Brussels',)
('São José dos Campos',)
('São Paulo',)
('Rio de Janeiro',)
('Brasília',)
('Montréal',)
('Edmonton',)
('Vancouver',)
('Toronto',)
('Ottawa',)
('Halifax',)
('Winnipeg',)
('Yellowknife',)
('Santiago',)
('Prague',)
('Copenhagen',)
('Helsinki',)
('Paris',)
('Lyon',)
('Bordeaux',)
('Dijon',)
('Stuttgart',)
('Berlin',)
('Frankfurt',)
('Budapest',)
('Delhi',)
('Bangalore',)
('Dublin',)
('Rome',)
('Amsterdam',)
('Oslo',)
('Warsaw',)
('Lisbon',)
('Porto',)
('Madrid',)
('Stockholm',)
('Mountain View',)
('Redmond',)
('New York',)
('Cupertino',)
('Reno',)
('Orlando',)
('Boston',)
('Chicago',)
('Madison',)
('Fort Worth',)
('Tucson',)
('Salt Lake City',)
('London',)
('Edinburgh ',)

In [11]:
conex.close()